body{
background: url(images/<?php echo $selectedBg; ?>) no-repeat;
}
.button {
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;  }

  .button:before {
  	content:'';
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 233px;
  	height: 0px;
  	background: rgba(255,255,255,0.3);
		border-radius:80px;
  	transition: all 1s ease;
		margin-left:15px;
  }

  .button:hover:before {
	height: 163px;
}

#random{


  /* ENHANCEMENT */
  background-image: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/554/custom/55494_1600x1200-wallpaper-cb1340657568.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
